body {
	width: 100%;
	margin: auto;
}

/* Контейнер, преставляющий секцию сайта */
.container {
	width: 100%;
	overflow: hidden;
}

/* Основной контейнер */
#main {
	background: linear-gradient(0deg, #BBB, #FFF);
	height: 100vh;
}

/* Заголовок */
.title {
	display: flex;
	flex-direction: column;
}

#main>.title {
	height: 20%;
	opacity: 0;
	animation: fadeout 2s forwards ease;
	animation-delay: 1s;
}

#main>.title>h1 {
	margin-top: 30px;
	animation: wiggle 3s infinite ease;
	margin: auto;
	text-align: center;
	font-family: 'Work Sans', sans-serif;
	font-weight: 100;
	font-size: 7em;
}

/* Вертикальные колебания */
@keyframes wiggle {
    0%, 50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(.2, .25, .55, 1)
    }

    25% {
        transform: translateY(-7px);
        animation-timing-function: cubic-bezier(.45, 0, .8, .75)
    }

    75% {
        transform: translateY(7px);
        animation-timing-function: cubic-bezier(.45, 0, .8, .75)
    }

    to {
        transform: translateY(0)
    }
}

/* Картинки в основном контейнере */
.guys {
	cursor: pointer;
	display: flex;
	justify-content: center;
	width: 80%;
	margin: auto;}

.guy {
	opacity: 0;
	position: absolute;
	width: auto;
	height: 80%;
	animation: fadeout 2s forwards ease;
}

/* Стили для мобильных устройств */
@media screen and (max-width: 768px) and (orientation: portrait) {
	.guy {
		width: 100%;
		height: auto;
		bottom: 0px;
	}

	.second, .third {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	#main>.title>h1 {
		font-size: 4em !important;
	}
}

.second {
	animation-delay: .75s;
}

.third {
	animation-delay: 1.5s;
}

/* Анимация появления */
@keyframes fadeout {
	0% {
		transform: translateY(20px);
		opacity: 0;
		filter: blur(10px);
	}

	100% {
		opacity: 1;
		transform: translateY(2px);
		filter: blur(0px);
	}
}

/* Контейнер с информацие об участниках */
#team {
	background: linear-gradient(0deg, #666, #111);
	box-shadow: 0px -3px 2px rgba(0,0,0,0.5);
	min-height: 100vh;
	padding-bottom: 40px;
}

/* Заголовок */
#team>.title {
	margin: 30px;
}

#team>.title>h1 {
	margin: auto;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 7em;
	color: #FAFAFA;	
	text-shadow: 0px 0px 5px black;
}

/* Слайдер с участниками */
#slider {
	display: flex;
	flex-direction: row;
}

/* Блок с информацией об участнике */
.content {
	transform: translateX(0);
	opacity: 1;
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

/* Строка таблицы с информацией */
.content>.row {
	margin: 15px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

/* Стрелки слева и справа */
.arrow {
	margin: 40px auto auto auto;
	cursor: pointer;
	width: 10%;
	animation: wiggle 3s infinite ease;
}

/* Фотография участника */
#avatar {
	/* filter: grayscale(100%); */
	margin: auto;
	width: 200px;
	height: 200px;
	/* border-radius: 100px;
	box-shadow: 0px 0px 5px black; */
}

/* Имя участника */
#name {
	width: 70%;
}

#name>h2 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 3.5em;
	color: #FAFAFA;	
	text-shadow: 0px 0px 5px black;
}

/* Навыки участника */
#skills {
	margin: 0px auto auto auto;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 30%;
}

.skill {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 2em;
	color: #FAFAFA;
	text-shadow: 0px 0px 5px black;
}

/* Биография участника */
#bio {
	width: 70%;
	padding: 0 50px 0 50px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	color: #FAFAFA;
	text-shadow: 0px 0px 5px black;
}

/* Стили для мобильных устройств */
@media screen and (max-width: 768px) and (orientation: portrait) {
	#name>h2 {
		font-size: 1.5em;
	}

	#team>.title>h1 {
		font-size: 2.5em;
	}
}

@media screen and (max-width: 768px) {
	#team>.title {
		margin-bottom: 0;
	}

	#team>.title>h1 {
		font-size: 3.5em;
	}

	#avatar {
		width: 100px;
		height: 100px;
	}

	.skill {
		font-size: 1em;
	}

	#skills {
		width: 100%;
	}

	#bio {
		width: 100%;
		font-size: 1em;
		margin-top: 20px;
		padding: 0;
	}

	.content>.body {
		margin: 0;
		flex-direction: column;
	}
}

/* Блок с девизом */
#quote {
	display: flex;
	flex-direction: column;
	background: linear-gradient(0deg, #FFF, #BBB);
	height: 300px;
}

#quote>.title {
	margin: auto;
}

#quote>.title>h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 5em;	
}

/* Костыль для отображения тени с блока о команде */
.shadow {
	box-shadow: 0px 3px 2px rgba(0,0,0,0.75);
	width: 100%;
	height: 1px;
	margin-top: -2px;
}

/* Стили для мобильных устройств */
@media screen and (max-width: 768px) {
	#quote {
		height: 200px;
	}

	#quote>.title>h1 {
		font-size: 3em;
	}
}

/* Подвал сайта */
#footer {
	background: linear-gradient(0deg, #444, #666);
	box-shadow: 0px -3px 2px rgba(0,0,0,0.5);
	height: 25px;
}

#footer>.title {
	height: 100%;
	display: flex;
	flex-direction: column;
	margin: auto;
}

#footer>.title>h3 {
	margin: auto;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: .75em;
	color: #FAFAFA;	
	text-shadow: 0px 0px 5px black;
}






